* {
   margin:0;
   padding:0;

}

body {
     background:#18191A;
}

header, .main, footer {
     
      width:90%;
      max-width:10000px;
      margin: 10px auto; 
}

header nav {
     background:#242526 ;
     overflow:hidden;
}

header nav ul {
   list-style:none ;
}
 
 header nav ul li {
      float:left;
 }

 header nav ul li a {
 	padding:10px 20px;
 	display:block;
 	color: #fff;
 	text-decoration:none;
 }

 header nav ul li a:hover {
 	background: #3A3B3C;
 }

 .main .articles {
 	width: 68.5%;
 	margin-right:1.5% ;
 	float: left;
 }

 .main .articles article {
 	padding: 10%;
 	background: #242526;
 	margin-bottom: 20px;
 }

 aside {
 	width: 30%;
 	background: #E7EC74;
 	float: left;
 	padding: 20px;
 	box-sizing:border-box ;
 }

 footer {
 	background:#000 ;
 	color: #fff;
 	clear: both;
 	padding:10px 0px ;
 	text-align: center;
 }

 .correo::after {
	 content: "aplanetgsoporte@gmail.com";
 }

 .how {
	 border: none;
	 background-color: #242526;
	 color: #fff;
	 right: 20px;
	 cursor: pointer;

 
 }
 .btn{
	 float: right;
	 color: rgb(255, 0, 0);
 }
 
 